<% if @page.errors.any? %>
	<div id="errors">
		<p>Please correct the following <%= pluralize(@page.errors.count, "error") %>:</p>
		<ul>
			<% @page.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<% if user_signed_in? %>
<%= form_for(@page) do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.submit @page.new_record? ? "Create Page" : "Update Page"  %>
	</div>
<% end %>
<% end %>
<% else %>
you must be signed in