


<div>

    <ul class="block-grid mobile two-up">
        <li>
          
                <%= link_to "Ruby On Rails Development", technologies_path %>
    

<p>
            Development of sophisticated online applications with this open-source web framework for shorter development cycles and easier future maintenance.</p>
        </li>
        <li>
           
                <%= link_to "Wordpress Design & Development", examples_path %>


            
<p>

            Customizing and extending this most wonderful of open source content management systems as the infrastructure for corporate websites, online applications, and blogs.</p>
        </li>
        <li>
                <%= link_to "Web Design", examples_path %>
            <p>
               Appropriate, modern, aesthetically-pleasing responsive web design.
           </p>
       </li>

   
       <li>
        <%= link_to "Responsive Designe", technologies_path %>
            <p>
               We design sites for optimal use on smartphones and tablet devices as well as on desktops computers.
            </p>
       </li>
   <li>

     <%= link_to "Intranet/Extranet", examples_path %>

     



     <p>
       Login-based online resources for teams, companies, and organizations to interact via the web to communicate and share more effectively.</p>
   </li>

</ul>

</div>
