<%= form_for(@example) do |f| %>
	<% if @example.errors.any? %>
		<div id="errors">
			<p>Please correct the following <%= pluralize(@example.errors.count, "error") %>:</p>
			<ul>
				<% @example.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="field">
all_tags
<%= f.label :all_tags, "List All Tags, separate each
tag by a comma" %><br />
<%= f.text_field :all_tags %>
</div>
	<div>
		<%= f.label :live_example_url %>
		<%= f.url_field :www_link %>
	</div>

		<div>
		<%= f.label :code_example_url %>
		<%= f.url_field :code_link %>
	</div>
	
	<div>
		<%= f.label :technology_id %>
		<%= f.collection_select(:technology_id, Technology.all, :id, :name, prompt: true) %>
	</div>

	<div>
		<%= f.submit @example.new_record? ? "Create Example" : "Update Example"  %>
	</div>
<% end %>