<h1><%= @example.name %></h1>



<!-- 
<div class="panel panel-primary">
	<h3>Description </h3>
	<p><%= simple_format(@example.description) %></p>
</div> -->


<div class="panel panel-default">
	<div class="panel-heading"><h3>Description </h3></div>

		<div class="panel-body">
			<div class="panel panel-primary">
			<p><p><%= simple_format(@example.description) %></p>
		</div>
		</div>
		<ul class="list-group">

			<li class="list-group-item"><strong>Technology: </strong><%=  @example.technology.name  %></li>


			<li class="list-group-item"><strong>Live Link: </strong><%= link_to @example.www_link, @example.www_link, :target => '_blank' %>
			</li>


			<li class="list-group-item"><strong>Code Link: </strong><%= link_to @example.code_link, @example.code_link, :target => '_blank' %>
			</li>

		</ul>

</div>



		<% if user_signed_in? %>
		<p><%= link_to 'Edit Example', edit_example_path(@example) %></p>
		<% end %>


		<% content_for :aside do %>
		<%= render 'sidebar' %>
		<% end %>