<h1><%= @example.name %></h1>


<div>
	<h3>Description </h3>
	<p><%= @example.description %></p>
</div>

<p><strong>Technology: </strong><%=  @example.technology.name  %>


	<div>
		
		<strong>Live Link: </strong><%= link_to @example.www_link, @example.www_link, :target => '_blank' %>
	</div>
	<div>
		
		<strong>Code Link: </strong><%= link_to @example.code_link, @example.code_link, :target => '_blank' %>
	</div>


	<% if user_signed_in? %>
	<p><%= link_to 'Edit Example', edit_example_path(@example) %></p>
	<% end %>


	<% content_for :aside do %>
	<%= render 'sidebar' %>
	<% end %>